.SideCol
{
    display: flex;
    flex-direction: column;
    align-items: center;
    Width :260px;
    Height:1277px;
    /* border: 2px solid red; */
    background: #FFFFFF;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

}

.block-img
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52.6px;
    height: 52.6px;
    border-radius: 100%;   
    background: url("./image-1.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
}

.large-container
{
    width:260px;
    height: 1277px;
}

.term-monitor-symbol
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 89px;
    /* border: 2px solid pink; */
}

.term
{
    /* width: 163.41px;
    height: 38.3px;  */
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 25.5321px;
    line-height: 38px;
    color: #3F0E40;
}

.monitor
{
    width: 163.41px;
    height: 38.3px; 
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 25.5321px;
    line-height: 38px;
    color: #3F0E40;
}

.term-monitor-symbol>img
{
    width: 37.43px;
    height: 37.43px;
}

.Add-Keywords
{
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 260px;
    height: 45px;
    /* border: 2px solid orange; */
    background: #3F0E40;
    /* justify-content: ; */
}

.home
{
    color:white;
}

.sub-keywords
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    width: 203px;
    height: 45px;
}

.sub-keywords>p
{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin-right: 25px;
}

.same-color
{
    color:rgba(0, 0, 0, 0.54);
    /* margin-left: 15px; */
}

.Matches
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 260px;
    height: 45px;
    /* border: 2px solid orange; */
}

.sub-matches
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 45px;
    /* border:2px solid red; */
    /* margin-right: 20px; */
}

.sub-matches>p
{
    margin-right: 55px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;   
    color:rgba(0, 0, 0, 0.54);
}

.Matches>p
{
    width: 62px;
    height: 22px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.54);
}

.Manage-sources
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 260px;
    height: 45px;
    /* border: 2px solid orange; */
}

.Manage-sources>p
{
    width: 127px;
    height: 22px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: rgba(0, 0, 0, 0.54);
    /* margin-left: 100px; */
}

.Integration
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 260px;
    height: 45px;
    /* border: 2px solid orange; */
}

.Integration>p
{
    width: 127px;
    height: 22px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: rgba(0, 0, 0, 0.54);
}

.Alerts
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 260px;
    height: 45px;
    /* border: 2px solid orange; */
}

.Alerts>p
{
    width: 127px;
    height: 22px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: rgba(0, 0, 0, 0.54);
}

.settings
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 260px;
    height: 45px;
    /* border: 2px solid orange; */
}

.settings>p
{
    width: 66px;
    height: 24px; 
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}

.Billings
{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 260px;
    height: 45px;
}

.Billings>p
{
    width: 51px;
    height: 22px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 35px;
}
